<div class="sfooter-content">
	<router-outlet></router-outlet>
</div>

<footer class="bg-dark text-white py-4">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6 text-center text-sm-left">
				Creepy Octo Meow
			</div>
			<div class="col-sm-6 text-center text-sm-right">
				<span>
					<i class="fa fa-github fa-lg"></i>&nbsp;
					<a class="text-white" href="https://github.com/rlewis2892/creepy-octo-meow" target="_blank">GitHub</a>
				</span>
			</div>
		</div>
	</div>
</footer>

<!-- modal window components -->
<sign-in></sign-in>
<sign-up></sign-up>

<edit-post></edit-post>
<delete-post></delete-post>
<edit-profile></edit-profile>