<navbar></navbar>

<main>
	<div class="container-fluid">

		<!-- title row -->
		<div class="row">
			<div class="col-xs-12">
				<h1 class="text-white">Creepy Octo Meow!</h1>
			</div>
		</div>

		<!-- content row -->
		<div class="row">
			<div class="col-sm-6">
				<p>This is some content</p>
			</div>
			<div class="col-sm-6">
				<p>This is some more content.</p>
			</div>

			<div class="col-3">
				<img src="../src/app/images/creepy-octo-meow.jpg" class="img-thumbnail image-fluid" alt="test-image">
			</div>
		</div>

	</div><!--./container-fluid-->
</main>
