<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<base href="<%= process.env.BASE_HREF %>" />

		<title>DDC-Twitter</title>
	</head>
	<body class="sfooter">
		<!-- This custom tag much match your Angular @Component selector name in app/app.component.ts -->
		<creepy-octo-meow>Loading&hellip;</creepy-octo-meow>
	</body>
</html>