<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="signUpModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="signUpModalLabel">Sign Up for a Meow Account</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<form name="signUpForm" id="signUpForm" [formGroup]="signUpForm" (submit)="signUp();" class="form-horizontal" novalidate>

					<!-- email group -->
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fa fa-envelope"></i></span>
							</div>
							<input type="email" class="form-control" formControlName="signupProfileEmail" placeholder="Email">
						</div>
						<div *ngIf="signUpForm.controls.signupProfileEmail?.invalid && signUpForm.controls.signupProfileEmail?.touched" class="alert alert-danger" role="alert">
							<div *ngIf="signUpForm.controls.signupProfileEmail?.errors.required">Email is required.</div>
							<div *ngIf="signUpForm.controls.signupProfileEmail?.errors.maxlength">Email is too long. {{signUpForm.controls.signupProfileEmail?.errors.maxlength.actualLength - signUpForm.controls.signupProfileEmail?.errors.maxlength.requiredLength}} too many characters.</div>
						</div>
					</div>

					<!-- username group -->
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fa fa-user"></i></span>
							</div>
							<input type="text" class="form-control" formControlName="signupProfileUsername" placeholder="Username">
						</div>
						<div *ngIf="signUpForm.controls.signupProfileUsername?.invalid && signUpForm.controls.signupProfileUsername?.touched" class="alert alert-danger" role="alert">
							<div *ngIf="signUpForm.controls.signupProfileUsername?.errors.required">Username is required.</div>
							<div *ngIf="signUpForm.controls.signupProfileUsername?.errors.maxlength">Username is too long. {{signUpForm.controls.signupProfileUsername?.errors.maxlength.actualLength - signUpForm.controls.signupProfileUsername?.errors.maxlength.requiredLength}} too many characters.</div>
						</div>
					</div>

					<!-- password group -->
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fa fa-lock"></i></span>
							</div>
							<input type="password" class="form-control" formControlName="signupProfilePassword" placeholder="Password">
						</div>
						<div *ngIf="signUpForm.controls.signupProfilePassword?.invalid && signUpForm.controls.signupProfilePassword?.touched" class="alert alert-danger" role="alert">
							<div *ngIf="signUpForm.controls.signupProfilePassword?.errors.required">Password is required.</div>
							<div *ngIf="signUpForm.controls.signupProfilePassword?.errors.maxlength">Password is too long. {{signUpForm.controls.signupProfilePassword?.errors.maxlength.actualLength - signUpForm.controls.signupProfilePassword?.errors.maxlength.requiredLength}} too many characters.</div>
						</div>
					</div>

					<!-- confirm pass group -->
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fa fa-ellipsis-h"></i></span>
							</div>
							<input type="password" class="form-control" formControlName="signupProfileConfirmPassword" placeholder="Confirm Password">
						</div>
						<div *ngIf="signUpForm.controls.signupProfileConfirmPassword?.invalid && signUpForm.controls.signupProfileConfirmPassword?.touched" class="alert alert-danger" role="alert">
							<div *ngIf="signUpForm.controls.signupProfileConfirmPassword?.errors.required">Password confirmation is required.</div>
							<div *ngIf="signUpForm.controls.signupProfileConfirmPassword?.errors.maxlength">Password is too long. {{signUpForm.controls.signupProfileConfirmPassword?.errors.maxlength.actualLength - signUpForm.controls.signupProfileConfirmPassword?.errors.maxlength.requiredLength}} too many characters.</div>
						</div>
					</div>

					<!-- submit -->
					<div class="form-group">
						<button type="submit" [disabled]="signUpForm.invalid" class="btn btn-default">Sign Up</button>
					</div>
				</form>

				<!-- output area -->
				<div *ngIf="status !== null" class="alert alert-secondary alert-dismissible" [ngClass]="status.type" role="alert">
					<button type="button" class="close" aria-label="Close" (click)="status = null;"><span aria-hidden="true">&times;</span></button>
					{{ status.message }}
				</div>

			</div>
		</div>
	</div>
</div>