<form name="signInForm" id="signInForm" [formGroup]="signInForm" (submit)="signIn();" class="form-horizontal" novalidate>
	<div class="form-group">
		<div class="input-group">
			<div class="input-group-prepend">
				<span class="input-group-text"><i class="fa fa-envelope"></i></span>
			</div>
			<input type="email" class="form-control" formControlName="signinProfileEmail" placeholder="Email">
		</div>
		<div *ngIf="signInForm.controls.signinProfileEmail?.invalid && signInForm.controls.signinProfileEmail?.touched" class="alert alert-danger" role="alert">
			<div *ngIf="signInForm.controls.signinProfileEmail?.errors.required">Email is required.</div>
			<div *ngIf="signInForm.controls.signinProfileEmail?.errors.maxlength">Email is too long. {{signInForm.controls.signinProfileEmail?.errors.maxlength.actualLength - signInForm.controls.signinProfileEmail?.errors.maxlength.requiredLength}} too many characters.</div>
		</div>
	</div>
	<div class="form-group">
		<div class="input-group">
			<div class="input-group-prepend">
				<span class="input-group-text"><i class="fa fa-key"></i></span>
			</div>
			<input type="password" class="form-control" formControlName="signinProfilePassword" placeholder="Password">
		</div>
		<div *ngIf="signInForm.controls.signinProfilePassword?.invalid && signInForm.controls.signinProfilePassword?.touched" class="alert alert-danger" role="alert">
			<div *ngIf="signInForm.controls.signinProfilePassword?.errors.required">Password is required.</div>
			<div *ngIf="signInForm.controls.signinProfilePassword?.errors.maxlength">Password is too long. {{signInForm.controls.signinProfilePassword?.errors.maxlength.actualLength - signInForm.controls.signinProfilePassword?.errors.maxlength.requiredLength}} too many characters.</div>
		</div>
	</div>
	<div class="form-group">
		<button type="submit" id="submit" [disabled]="signInForm.invalid" class="btn btn-info"><i class="fa fa-sign-in"></i>&nbsp;Log in</button>
	</div>
</form>

<div *ngIf="status !== null" class="alert alert-secondary alert-dismissible" [ngClass]="status.type" role="alert">
	<button type="button" class="close" aria-label="Close" (click)="status = null;"><span aria-hidden="true">&times;</span></button>
	{{ status.message }}
</div>