<navbar></navbar>

<main class="my-5">
	<div class="container-fluid text-center text-lg-left">

		<div class="row mb-3">
			<div class="col">
				<h1>Meow Forum</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-12 col-lg-3">

				<form id="createPostForm" name="createPostForm" [formGroup]="createPostForm" (submit)="createPost();" class="form-horizontal" novalidate>
					<!-- post title group -->
					<div class="form-group">
						<label for="postTitle" class="sr-only">Title</label>
						<input type="text" formControlName="postTitle" class="form-control" id="postTitle" name="postTitle" placeholder="Post Title">
						<div *ngIf="createPostForm.controls.postTitle?.invalid && createPostForm.controls.postTitle?.touched" class="alert alert-danger" role="alert">
							<div *ngIf="createPostForm.controls.postTitle?.errors.required">Title is required.</div>
							<div *ngIf="createPostForm.controls.postTitle?.errors.maxlength">Title is too long. {{createPostForm.controls.postTitle?.errors.maxlength.actualLength - createPostForm.controls.postTitle?.errors.maxlength.requiredLength}} too many characters.</div>
						</div>
					</div>

					<!-- post content group -->
					<div class="form-group">
						<label for="postContent" class="sr-only">Content</label>
						<textarea class="form-control" name="postContent" id="postContent" formControlName="postContent" cols="30" rows="10" placeholder="2000 characters max."></textarea>
						<div *ngIf="createPostForm.controls.postContent?.invalid && createPostForm.controls.postContent?.touched" class="alert alert-danger" role="alert">
							<div *ngIf="createPostForm.controls.postContent?.errors.required">Nothing to say?</div>
							<div *ngIf="createPostForm.controls.postContent?.errors.maxlength">Content is too long. {{createPostForm.controls.postContent?.errors.maxlength.actualLength - createPostForm.controls.postContent?.errors.maxlength.requiredLength}} too many characters.</div>
						</div>
					</div>

					<!-- submit buttons -->
					<div class="form-group">
						<button [disabled]="createPostForm.invalid" class="btn btn-info" type="submit">Meow!</button>
						<button class="btn btn-default" type="reset" data-dismiss="modal">Cancel</button>
					</div>
				</form>

				<!-- output area -->
				<div *ngIf="status !== null" class="alert alert-secondary alert-dismissible" [ngClass]="status.type" role="alert">
					<button type="button" class="close" aria-label="Close" (click)="status = null;"><span aria-hidden="true">&times;</span></button>
					{{ status.message }}
				</div>

			</div>
			<div class="col-12 col-lg-9">
				<div class="card-columns">

					<!-- begin post item -->
					<div *ngFor="let post of posts" class="card">
						<div class="card-body">
							<h4 class="card-title">{{ post.postTitle }}</h4>
							<p class="card-text">{{ post.postContent }}</p>
							<div class="small text-muted">@{{ post.postProfileId }} | {{ post.postDate | date:'M/d/yy h:mm a' }}
							</div>
							<button class="post-delete btn btn-sm btn-danger">x</button>
						</div>
					</div>
					<!-- end post item -->

				</div><!--/.card-columns-->
			</div><!--/.col-12-->
		</div><!--/.row-->
	</div><!--/.container-fluid-->
</main>