/***
* Meow App 5 Theme
* @author rlewis37@cnm.edu
***/
@import url('https://fonts.googleapis.com/css?family=Audiowide');

body {
	background-color: #000;
	position: relative;
}

body::after {
	content: "";
	background: url("../img/meow-app.jpg") no-repeat 40% center;
	background-attachment: fixed;
	filter: grayscale(0.75) opacity(0.5);
	position:absolute;
	height: 100%;
	width: 100%;
	z-index: -1;
}

@media only screen and (min-width: 768px) {
	body::after {
		background-position-x: center;
	}
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
.modal-title,
.navbar-brand {
	font-family: 'Audiowide', sans-serif;
}

h1, .h1 {
	color: #ffc107 !important;
	font-size: 4rem;
}

button,
.card,
.modal-content {
	border-radius: 0 !important;
	border: none;
}

button {
	cursor: pointer;
}

hr {
	border-color: rgba(255,255,255,0.15);
}

nav {
	border-bottom: 1px solid rgba(255,255,255,0.1);
}

.card-title {
	color: #007bff;
}

footer.page-footer {
	background: rgba(0,0,0,0.8);
}

/***
* Utilities
***/
.mh-80 {
	min-height: 80vh;
}

.bg-shadow-light {
	background-color: rgba(255,255,255,0.15);
}

.bg-shadow-dark {
	background-color: rgba(0,0,0,0.3);
}

.text-shadow-dark {
	text-shadow: 1px 1px #000;
}

/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}