/***
* Meow App 5 Theme
* @author rlewis37@cnm.edu
***/

/* GLOBAL */
@import url('https://fonts.googleapis.com/css?family=Audiowide');

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
.modal-title,
.navbar-brand {
	font-family: 'Audiowide', sans-serif;
}

h1, .h1 {
	color: #ffc107 !important;
	font-size: 4rem;
}

button {
	cursor: pointer;
}

hr {
	border-color: rgba(255,255,255,0.15);
}

/* UTILS */
.mh-80 {
	min-height: 80vh;
}

.bg-shadow-light {
	background-color: rgba(255,255,255,0.15);
}

.bg-shadow-dark {
	background-color: rgba(0,0,0,0.3);
}

.text-shadow-dark {
	text-shadow: 1px 1px #000;
}

/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

body.sfooter > * {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

/* BODY */
body > * {
	background: url("app/images/meow-app.jpg") no-repeat 40% center fixed;
	position: relative;
}

@media only screen and (min-width: 768px) {
	body > *::after {
		background-position-x: center;
	}
}

/* HEADER */
nav {
	border-bottom: 1px solid rgba(255,255,255,0.1);
}

/* POSTS */
button,
.card,
.modal-content {
	border-radius: 0 !important;
	border: none;
}

.card {
	position: relative;
}

button.post-delete {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}

.card-title {
	color: #007bff;
}

.blue-card {
	background: #007bff;
	color: #fff !important;
	text-align: center !important;
}

.blue-card .card-title,
.blue-card .text-muted {
	color: #fff !important;
}

/* FOOTER */
footer.page-footer {
	background: rgba(0,0,0,0.8);
}